/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background: #f0f2f2;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*--- General Text Styles---*/
h1, h2, h3, li, a {
  font-family: 'Raleway', sans-serif;
}

ul li {
  list-style: none;
  font-size: 1.3em;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
}

p {
  font-family: 'Fenix', serif;
  color: #000000;
  font-size: 1.3em;
}

span {
  color: #29A68F;
}

.copyright{
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
}

main .card h2 {
  font-size: 1.3em;
}

main .card p {
  font-size: 1.1em;
  padding: 0 0.3em;
}

/*---Mobile Header Styles---*/
header {
  background: #f0f2f2;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  width: 95%;
}

header figure {
  margin: 1em 0;
}

header img {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

header nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

header nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 2em;
}

/*--- Mobile Footer Styles---*/
footer {
  background: #0c5952;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .content-wrapper {
  display: flex;
  width: 90%;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.footer-content section {
  width: 100%;
  margin: 1em 0;
}

footer .div-line1 {
  border-top: 1px solid #f0f2f2;
  width: 100%;
}

footer nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

footer ul li {
  font-size: 2em;
}

footer h1,
footer p {
  color: #f0f2f2;
  text-decoration: none;
  width: 100%;
  margin: 0.7em 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer a {
  color: #f0f2f2;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

footer a:hover {
  color: #F2CA80;
}

/*---Mobile Main Styles---*/
main {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}

main .content-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 1em 0;
}

.main-content section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 90%;
}

main section h1 {
  width: 100%;
  margin: 0.6em 0;
  display: flex;
  justify-content: center;
}

main section ul {
  padding: 0;
  width: 100%;
  font-weight: bold;
  text-align: right;
}

.main-content .intro {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 0.5em;
}

.main-content .intro h1 {
  border-right: 1px solid #000000;
}

.main-content .intro li {
  font-size: 1em;
}

main .div-line2 {
  border-top: 1px solid #000;
  width: 100%;
}

main .card {
  width: 100%;
  background-color: #f0f2f2;
  margin: 0.3em;
}

main .card figure img {
  width: 100%;
  height: auto;
}

main .card h2 {
  display: flex;
  justify-content: center;
}

img.testpro {
  max-width: 350px;
  width:100%;
  height:auto;
}

/*---Mobile Services Main Styles---*/

#service p {
  margin-top: 0;
  text-align: center;
}

#service h1 {
  width: 100%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* === TABLET STYLES - 768px === */
   @media only screen and (min-width: 768px) {

  .content-wrapper {
    width: 100%;
  }

  /*---Tablet Header Styles---*/
  .header-content {
    width: 80%;
  }

  header img {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
  }

  /*---Tablet Footer Styles---*/
  footer .content-wrapper {
    justify-content: center;
  }

  footer .footer-content {
    width: 70%;
  }

  .footer-content section {
    flex-flow: row wrap;
  }

  footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
  }

  footer ul {
    width: 80%;
  }

  /*---Tablet Main Styles---*/
  main .main-content {
    width: 65%;
    margin: 3em 0;
  }

  .main-content .intro h1 {
    border-right: none;
  }

  .intro ul {
    border-left: 1px solid #000000;
    text-align: center;
  }

  main .gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  main .card {
    width: 48%;
  }

  main .card figure {
    margin: 0;
  }

  main .card figure img {
    width: 100%;
  }

  /*---Tablet Services Page Styles---*/


}

/* === DESKTOP STYLES - 1400px === */
@media only screen and (min-width: 1400px) {

  /*---Desktop Header Styles---*/
  header .header-content {
    width: 60%;
  }

  header img {
    max-height: 130px;
    margin-bottom: 3em;
  }

  /*---Desktop Footer Styles---*/
  footer .footer-content {
    align-items: flex-start;
    flex-flow: row wrap;
  }

  footer .half-width {
    width: 40%;
  }

  footer .full-width {
    border-top: 1px solid #f0f2f2;
    width: 100%;
  }

  footer ul {
    width: 60%;
    margin: 0.7em 0;
  }

  footer .div-line1 {
    border-top: none;
    width: 0;
  }

  /*---Desktop Main Styles---*/
  main .main-content {
    width: 60%;
  }

  .main-content .intro li {
    font-size: 1.3em;
  }

  main .card {
    width: 30%;
  }

  /*--- Desktop Service Page Styles ---*/
  #service p {
    margin-top: 0;
    text-align: left;
  }

  #service section {
    justify-content: flex-start;
  }

  #service h2 {
    margin-left: 2em;
  }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
